.breadCrump-holder{background-color: #f5f5f5;}
.breadcrumb{margin:0; padding: 10px;}

.about-us{padding: 70px 0;}
.about-us h1{letter-spacing:-3px; font-size: 60px;}

.about-features{padding:70px 0};
.about-features .pra{font-size: 17px; margin-bottom: 20px;}
.about-features h3{letter-spacing:-1px; font-weight: bold;}

.about-ceo{background-color: #eee; padding:50px 0 0;}
.about-ceo p{font-weight: 600; line-height: 1.8; color:#777;}
.about-ceo a{font-size:20px; margin-bottom: 30px;}

/*End About Us*/

/* Start FAQ */
.faq-content h1{font-size: 60px; letter-spacing:-3px;}
.faq-content hr{width:70%;}
.faq-content .panel-heading a{text-decoration: none;}
.faq-content .panel-heading a::after{
    font-family: "Glyphicons Halflings";
    content: "\e080";
    float: right;
}
.faq-content .panel-heading a.collapsed::after{
    font-family: "Glyphicons Halflings";
    content: "\e114";
    float: right;
}
.faq-content .panel-heading{
    padding:15px;
}
/* End FAQ */